body {
  background: linear-gradient(90deg, rgba(0, 0, 255), rgba(0, 155, 255), rgba(30, 0, 200));
  color: rgb(0, 255, 128);
}
select {
  font-size: 1em;
  color: blue;
}
title {
  font-size: 2em;
}

.amiibo-container {
  margin-left: 100px;
  padding: 0px 10px;
  height: 50%;
  position: relative;
  left: 50%;
}

.amiibo-image {
  max-height: 150px;
  max-width: 150px;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}
.amiibo-image:hover {
  /*tip my hat to you ;)*/
  transform: rotate(30deg);
}

.amiibo-name {
  font-size: 3em;
  position: relative;
}
.amiibo-usage {
  left: -300px;
  width: 800px;
  word-wrap: break-word;
  text-align: center;
  position: relative;
}

.character-list button {
  border: 0;
  background-color: whitesmoke;
}
.character-list button:hover {
  background-color: salmon;
}

.game-header {
  text-decoration: underline;
}

.game-list-3ds,
.game-list-switch,
.game-list-wii-u {
  position: absolute;
  size: 3rem;
  width: 250px;
  word-wrap: break-word;
}

.game-list-switch {
  left: -300px;
}

.game-list-wii-u {
  left: 300px;
}
.instructions {
  position: relative;
  width: 500px;
  left: -100px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}
.sidebar {
  padding-top: 40px;
  position: absolute; /*required to force other elements away*/
  min-height: 100vh;
  width: 300px;
  color: Blue;
  overflow-x: hidden;
  background-color: pink;
  z-index: 1;
  top: 0;
  left: 0;
}
.sidebar select {
  background-color: pink;
}
