select {
    font-size: 1em;
    color: blue;
}
title {
    font-size: 2em;
    color: #E70009;
}
.amiibo-container {
    margin-left: 300px;
    padding: 0px 10px;
    height: 50%;
}
.amiibo-image {
    position: relative;
    left: 50%;
    transition: transform .3s ease-in-out;
}
.amiibo-image:hover{
    transform: rotate(30deg);
}
.amiibo-info {
    position: relative;
    left: 50%;
}
.character-list button{
    border:1px solid black;
    background-color:pink;
}
.character-list button:hover{
    background-color: salmon;
}
.game-list-left {
    margin-left: 300px;
    width: 50%;
    position: absolute; 
}
.game-list-right {
    float: right;
    width: 50%;
}
.sidebar {
    padding-top: 40px;
    position: absolute; /*required to force other elements away*/
    height: 100%;
    width: 300px;
    color: Blue;
    overflow-x: hidden;
    background-color: pink;
    z-index: 1;
    top: 0;
    left: 0;
}
.sidebar select {
    background-color: pink;
}
